:root {
  --branding-color: #48a868;
  --light-branding-color: #e7fae8;
  --headings-color: #707070;
  --branding-font: 'Source Code Pro', monospace;
}


h1 {
    font-family: var(--branding-font);
    
}
h2, h3 {
   color: var(--headings-color);
   font-family: var(--branding-font);
}

h3 {
    font-style: italic;
}

p {
  line-height: 1.8;
    color: #1d2c23;
}



.hero {
background-color: var(--light-branding-color);
text-align: left;
padding: 160px 80px;
}

.about-hero {
    padding: 160px 80px;
}
.btn-main {
    background-color: var(--branding-color);
    font-family: var(--branding-font);
    color: white;
    padding: 10px 20px;
    
}

.btn-main:hover {
    color: var(--headings-color);
}
.btn-project {
    border: solid 1px var(--branding-color);
    color: var(--branding-color);
    font-family: var(--branding-font);
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-project:hover {
      border: solid 1px white;
    background-color: var(--branding-color); 
    color: white;
    
}

.work-description 
{
    margin: 0;
    padding: 0 80px;
}

.img-project {
    max-height: 200px;
}
.contact-section {
    margin-top: 30px;
    
}

.navbar {
    font-family: var(--branding-font);
   color: green;
}

.navbar a {
    color: var(--branding-color);

}

.img-about {
   max-height: 280px;
}
@media (max-width: 960px) {
    .work-description {
        padding: 20px;
        text-align: center;
    }
    h3  {
        
        text-align: center;
        line-height: 1.5;
    }

    
    p {
        text-align: center;
    
    }
    .btn-project {
        display: block;
        text-align: center;
        font-family: var(--branding-font);
    }
    .about-hero {
        text-align: center;
        padding: 20px 10px;
        
    }
}