:root {
  --branding-color: #48a868;
  --light-branding-color: #e7fae8;
  --headings-color: #707070;
  --branding-font: 'Source Code Pro', monospace;
}


h1 {
    font-family: var(--branding-font);
    
}
h2, h3, h4 {
   color: var(--headings-color);
   font-family: var(--branding-font);
}

h3 {
    font-style: italic;
}

p {
  line-height: 1.8;
    color: #1d2c23;
}



.hero {
background-color: var(--light-branding-color);
text-align: left;
padding: 80px 80px;
}

.about-hero {
    padding: 80px 80px;
   background-color: var(--light-branding-color);
}
.btn-main {
    background-color: var(--branding-color);
    font-family: var(--branding-font);
    color: white;
    padding: 10px 30px;
    margin-right: 5px;
    
    
}

.btn-main:hover {
    color: var(--headings-color);

}
.btn-project {
    border: solid 1px var(--branding-color);
    color: var(--branding-color);
    font-family: var(--branding-font);
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-project:hover {
      border: solid 1px white;
    background-color: var(--branding-color); 
    color: white;
    
}

.work-description 
{
    margin: 0;
    padding: 0 80px;
}

.img-coder {
    max-height: 250px;
}
.img-project {
    max-height: 250px;
}
.contact-section {
    margin-top: 30px;
    
}
.email-link {
    color: var(--headings-color);
    font-size: 18px;
    
}

.email-link:hover {
    color: var(--branding-color);
    text-decoration: none;
}
.navbar {
    font-family: var(--branding-font);
   
}

.navbar a {
    color: var(--branding-color);

}

.img-about {
  
   
}
@media (max-width: 995px) {
    
    .hero {
        text-align: center;
    }

    .work-description {
        padding: 20px;
        text-align: center;
    }
    h3  {
        
        text-align: center;
        line-height: 1.5;
    }

    
    p {
        text-align: center;
    
    }
    .btn-project {
        display: block;
        text-align: center;
        font-family: var(--branding-font);
    }
    .about-hero {
        text-align: center;
        padding: 20px 10px;
        
    }

    .img-coder {
display: none;
    }
    .about-section {
        padding: 40px;
    }
}